{{!-- Inclure le CSS spécifique au dashboard --}}
<link rel="stylesheet" href="/css/dashboard.css">
<script>
  function deleteSelected() {

  // Récupérer toutes les checkbox sélectionnées
  const checkboxes = document.querySelectorAll(".annonce-checkbox:checked");

  // Extraire les IDs des annonces sélectionnées
  const selectedIds = Array.from(checkboxes).map(checkbox => {
    // L'ID est dans l'attribut `id` de la checkbox, par exemple "checkbox-0"
    return checkbox.id.split("-")[1];
  });

  if (selectedIds.length === 0) {
    alert("Veuillez sélectionner au moins une annonce à supprimer.");
    return;
  }

  // Construire l'URL avec les IDs comme paramètres
  const separator = ","; // Par exemple, utiliser une virgule comme séparateur
  const url = `/delete?ids=${selectedIds.join(separator)}`;

  // Rediriger vers l'URL
  location.href = url;
}
</script>
<main>
  <h1>{{title}}</h1>

  <div class="boutons"> 
    <button class="upload" id="upload" onclick="location.href='/upload'"> Ajouter une annonce </button>
    <button class="deconnection" id="deconnection" onclick="location.href='/logout'"> Se déconnecter </button>
    <button class="delete" id="delete" onclick="deleteSelected()"> Supprimer les annonces sélectionnées </button>
  </div>

  {{#if annonces.length}}
  <div class="annonces">
    {{#each annonces}}
    <div class="annonce-wrapper">
      <input type="checkbox" id="checkbox-{{this.id}}" class="annonce-checkbox">
      <button class="annonce" id="annonce-{{@index}}" onclick="location.href='/annonce/details?id={{this.id}}'">
        <h2>{{this.titre}}</h2>
        <p>Date de mise en ligne : {{this.date}}</p>
        <p>Adresse : {{this.adresse}}</p>
      </button>
    </div>
    {{/each}}
  </div>
  {{else}}
  <p>Aucune annonce disponible pour le moment.</p>
  {{/if}}
</main>
